aside#sponsor-footer {
	background: transparent;
	color: $white;

	p {
		color: currentColor;
		font-family: inherit;
	}

	.sponsor-button {
		background: transparent;
		color: $blue;
		font-family: inherit;
	}
}

.page-footer {
	font-family: $font_menu;
	padding: 5px;

	a {
		color: currentColor;
		display: block;
		padding: 5px;
		text-decoration: none;

		&:hover, &:focus {
			background: $grey;
		}
	}

	.container {
		display: grid;
		grid-template-columns: 20vw 80vw;
		grid-template-rows: repeat(3, 2em);	
	}

	p {
		margin: 5px;
		white-space: nowrap;
		overflow-x: auto;
		scrollbar-width: none;
		
		&::-webkit-scrollbar {
			height: 0;
		}

		&:first-of-type {
			background: $orange;
			color: $black;
			display: flex;
			align-content: center;
			flex-wrap: wrap;
			grid-row: span 3;
			padding: 5px;
			margin: 0;
			white-space: normal;

			a {
				display: inline;
			}
		}
	}

	ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
	}
}