body {
	display: grid;
	grid-template-columns: 50px auto 1fr;
	grid-template-areas:
		"icon nav title"
		"sidebar content content"
		"sidebar terminal terminal"
		"footer footer footer";
	grid-template-rows: auto 1fr auto;
	margin: 0;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

header, nav, body:before {
	align-self: center;
}

header {
	grid-area: title;
}

nav {
	grid-area: nav;
}

main {
	grid-area: content;
	overflow-y: scroll;
}

footer {
	grid-area: footer;
}

#styles {
	grid-area: terminal;
}

.profile {
	background: $black;
	position: fixed;
	right: 10px;
	bottom: 10px;
}