$blue: #318CE7;
$green: #64AD66;
$orange: #F78D2B;
$red: #E53F51;
$yellow: #FFCE03;
$pink: #CB5699;
$black: #000;
$grey: #404040;
$background: #222;
$white: #F7F0EB;

$font_menu: "Segoe WPC", "Segoe UI", sans-serif;
$font_code: "Source Code Pro", monospace;

body {
	background: $background;
	color: $white;
	font-family: $font_code;
}